body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header, nav, main, footer {
  padding: 20px;
}


nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  background-color: #eeb92925;
}

article {
  margin-bottom: 100px;
  margin-left: 300px;
}

h1{
  padding-top: 10px;
}

h2 {
  color: #000000;
}

h2.title {
  font-weight: bold;
  margin-bottom: 40px;
}

header {
  background-color: #755b12;
  color: #fff;
  padding: 15px;
  position: relative;
  z-index: 1;
  text-align: center;
}

footer {
  background-color: #755b12;
  color: #fff;
  text-align: center;
}


.header-image {
  display: block;
  width: 100%;
  max-height: 300px; /* Adjust the height as needed */
  object-fit: cover;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  background-color: #eeb92925;
}

.nav-list a {
  font-family: Arial, sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: #333;
}

.nav-list a:hover {
  color: #755b12 /* Change the color on hover */
  /* Add additional effects like underline, background color, etc. */
}

.nav-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

.left-items li {
  display: inline;
  margin-right: 10px;
}

.left-items a{
  font-size: 30px;
  font-weight: bold;
}

.right-items li {
  display: inline;
  margin-left: 10px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 8px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #e2e2e2;
}

.dropdown.active .dropdown-content {
  display: block;
}

.school-logo {
  display: block;
  margin: 0 auto;
  max-height:100px; /* Adjust the maximum height as needed */
  max-width: 100%;
}

#contact {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Horizontally center the content */
  text-align: left; /* Keep the text aligned to the left */
}
 
#contact h2 {
  margin-bottom: 50px;
  text-align: center;
}

.contact-info {
  margin: 0 auto;
}

.contact-info p {
  margin-bottom: 10px;
}

.carousel-slider {
  max-width: 1200px; /* Set the maximum width of the carousel */
  max-height: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.slider-image{
  width: auto;
  height: auto;
  max-width: 1200px;
  max-height: 900px;
  margin-left: auto;
  margin-right: auto;
}

.google-map {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.icon-link {
  text-decoration: none;
  text-align: center;
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Horizontally center the content */
}

.icon-link img {
  width: 50px;
  height: 50px;
}

.pdf-container {
  width: 100%;
  height: 100vh; /* Adjust the height based on your layout */
}

.organization-image-container{
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items horizontally at the center */
}
  
.organization-image-container img {
    margin-bottom: 20px;
    max-width: 900px;
}
